:root{
    --bg-fundo: #eef4ed;
    --bg-fundo-container: #134074;
    --border-color-container: #13315c;

    --text-fundo-claro: #0B2545;
    --text-fundo-escuro: #EEF4ED;
    --text-concluido: #29ce0c;
    --text-pendente: #bd850c;
    --text-atrasado: #ce0c0c;
    --text-card-claro: #000;
    --text-card-escuro: #fff;
    --text-card-claro: #000000a8;
    --text-card-escuro: #ffffffa8;

    --check-color: #1682ca11;
    
    --fundo-status-concluido: #219b0b;
    --fundo-status-pendente: rgb(175, 117, 8);
    --fundo-status-atraso: rgb(150, 4, 4);

}


body{   
    background-color: var(--bg-fundo);

    & .container{ 
          
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    color: var(--text-fundo-claro);

        & nav{
        position: fixed;
         top: 0;      
        left: 0; 
        width: 16vw;
        background-color: var(--bg-fundo-container);
        height: 100vh;
        box-shadow: 2px 0px 8px  var(--border-color-container);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1.5rem;
        color: var(--text-fundo-escuro);

        & .logo-nav{
            & h1{
                font-size: 2rem;
                font-weight: bold;
            }
        }
        & .status-nav{


            & .lista-status{
             list-style-type: none;
             background-color: var(--bg-fundo-container);
             padding: 1.5rem;
             border: 2px solid var(--border-color-container);
             box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
             border-radius: 20px;
             display: flex;
             flex-direction: column;
             align-items: center;

                & .status{
                    margin: 10px;
                    font-weight: bold;
                    color: var(--text-concluido);
                    transition: all 0.2s ease;
                }

                & .status:hover{
                    transform: translateY(-5px);
                }

                & .status:nth-child(2){
                    font-weight: bold;
                    color: var(--text-pendente);
                }
                & .status:nth-child(3){
                    font-weight: bold;
                    color: var(--text-atrasado);
                }

        }
     }
     & .footer-nav{
        text-align: center;
    

        & p:nth-child(1){
            font-size: 14px;
        }
        & p:nth-child(2){
            font-weight: bold;
            font-style: italic;
        }

     }
    }
    & .container-principal{
        width: 84vw;
        margin-left: 16vw;
        min-height: 100vh;

        & .container-tarefa{
            padding: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            & h2{
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }
            
            & .form-tarefa{
                margin: auto;
                padding: 2rem 1.5rem;
                width: 40rem;
                background-color: var(--bg-fundo-container);
                border-radius: 20px;
               box-shadow: 0px 0px 8px  var(--border-color-container);
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 16px;
                
                & label{
                    color: var(--text-fundo-escuro);
                    font-weight: 500;
                }

                & .text-input{
                    display: flex;
                    flex-direction: column;

                }
                & input{
                     font-size: 1rem;
                     background-color: var(--text-fundo-escuro);
                    color: var(--text-fundo-claro);
                    padding: 1rem;
                     border: 2px solid var(--border-color-container);
                     border-radius: 15px;
                     border: none;
                }

                & textarea{
                    width: 100%;
                    resize: none;
                    min-height: 100px; 
                     font-size: 1rem;
                         background-color: var(--text-fundo-escuro);
                    color: var(--text-fundo-claro);
                    padding: 1rem;
                    border: none;
                     border-radius: 15px;

                }
                & input[type="submit"]{
                    background-color: #1258a7;
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                }
                & input[type="submit"]:hover{
                    background-color: #075bbb;
                }
                
                & .container-opcional{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        & .container-sua-tarefa{
            padding: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            background-color: #8da9c475;
            border: none;
            border-radius: 10px 10px 0px 0px;
            bottom: 0;
            margin-top: auto;      
            min-height: 300px;   
            width: 100%;
            box-sizing: border-box;

            & .cabecalho-lista{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                & h2{
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                }

                & .tipo-filtro{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 1.3rem;
                    width: 90%;

                    & h2{
                        font-size: 16px;
                    }

                    & .filtro{
                         font-size: 17px;
                            background-color: var(--fundo-status-concluido);
                            border: 1px solid var(--text-concluido);
                            border-radius: 10px;
                            padding: 5px 10px;
                            color: var(--text-card-escuro);
                            font-weight: bold;
                            transition: all 0.2s ease;
                            cursor: pointer;
                    }

                    & .filtro:nth-child(2){
                        background-color: var(--fundo-status-concluido);
                            border: 1px solid var(--text-concluido);
                    }
                    & .filtro:nth-child(3){
                        background-color: var(--fundo-status-pendente);
                            border: 1px solid var(--text-pendente);
                    }
                    & .filtro:nth-child(4){
                        background-color: var(--fundo-status-atraso);
                            border: 1px solid var(--text-atrasado);
                    }

                    & .filtro:hover{
                        transform: translateY(-5px);
                    }
                    
                }
            }

            & .lista-tarefa{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 20px;
                gap: 50px;

                & .tarefa{
                    width: 25rem;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
                    border-radius: 20px 5px;

                    & .informacao-tarefa{
                        display: flex;
                        justify-content: space-between;
                        background-color: var(--bg-fundo-container);
                        padding: 1rem;
                        color: var(--text-fundo-escuro);
                        font-weight: bold;
                        font-size: 1rem;
                        border-radius: 20px 5px;

                       & .opcional-tarefa{
                        & .status-tarefa{
                            font-size: 14px;
                            background-color: rgb(175, 117, 8);
                            border: 1px solid orange;
                            border-radius: 10px;
                            padding: 2px 5px;
                        }
                    }

                    & input{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }

}

                    }
                    & .conteudo-tarefa{
                        padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    


                       & .titulo-tarefa{
                        font-size: 23px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: var(--text-card-claro);
                    }

                    & .descricao-tarefa{
                        font-size: 14px;
                        font-weight: 400;

                        color: var(--text-card-claro);
                            margin-bottom: 10px;
                    } 
                    
                    
                    }

                    

                }

            }
        }
    }
}